.MF {
  text-align: center;
  background-color: #2d2d2d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.MF form {
  display: flex;
  flex-direction: column;
}

.MF__messages p {
  margin: 8px;
  padding: 4px 8px;
  border: dashed 2px #544f4f;
  font-size: 1.25rem;
}
